<div class="stack-left">
	<%= link_to "Life 1", exams_life1_path, class:"nav-link" %>
	<%= link_to "Life 2", exams_life2_path, class:"nav-link" %>
	<%= link_to "Life 3", exams_life3_path, class:"nav-link" %>
	<%= link_to "Life 4", exams_life4_path, class:"nav-link" %>
	<%= link_to "Life 5", exams_life5_path, class:"nav-link" %>
</div>
